@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,300;0,400;1,200&display=swap');

/* head{

} */


body{
   
    font-family: 'Spectral', serif;
    line-height: 1.4;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

li{
    list-style-type:none;
    
}


.iframe-container{
    /* position:absolute; */
    z-index:-20;
    /* margin-left:-2%; */
    /* margin-top:-50%; */
    /* margin-bottom:0%; */
    padding:0%;
    border:0%;
    width:100vw; 
    height:100vh;

   
}
iframe{
    /* position: absolute; */
    border: hidden;
    overflow:hidden;
    min-width: 100%;
     min-height: 100%;
   
}
.container{
    /* position: absolute; */
    display:flex;
    margin: 2%;
    padding:5%;
    backdrop-filter: blur(2px);
}

.main-container{
display: inline;



  
}
.hidden{
    display:none !important;
}

/* .projDisplay{ */
    /* display:flex */
    
/* } */

.projDisplay .proj-list.active{
    background:red;
}
.main-sidebar{
    position: -webkit-sticky;
    position: sticky;
   top:0%;
    
    
    
    width:30%;
}

/* .main-content{
    margin: 2%;
    flex: 1;
   
} */

@media (max-width: 480px) {
 
    body{
      font-size: larger;
    }
   .container{
      
       display:flexbox;
       flex-direction: column;
       flex-wrap: nowrap;
       backdrop-filter: blur(2px);
     border-radius: 20%;

       padding:2%

   }
   .main-sidebar{
       background-color:white;
       /* display: inline-block; */
    width:99%;
    flex-wrap: nowrap;
    padding-left: 0%;
/* padding-right: 90%; */
    padding-top: 15%;
    padding-bottom: 5%;
    
   
    
    
}
    .main-container{
     
        width:100%;
        padding-left: 0%;
       
         
        
     
        font-size: large;
    }

.iframe-container{
    overflow: hidden;
    max-width: 98%;
    opacity: 0.6;
    position:absolute;
    z-index: -30;
 

}
iframe{
    overflow: hidden;
    position:absolute;

}

  }

@media (min-width: 481px) and (max-width: 1000px) {
    body{
        overflow-x: hidden;
    }
  
.container{
    overflow-y: hidden;
    display:flex;
    /* justify-content: space-between; */
    margin: 2%;
    backdrop-filter: blur(2px);
}

.main-container{




  
}


.main-sidebar{
  
    position: sticky;
    top: 0;
    

   
}



    
}

@media (min-width:1001) and (max-width :2000px)  {
    body{
        font-size: 2rem;
    }
   
    .main-container{

       
       padding-left:5%;
       
         
       }
.main-sidebar{
    width:50%;
    padding-right: 0%;
    position:sticky;
    top:0;
    margin-top:20%;
    overflow-y:hidden;
}
}

@media (min-width :2000px)  {
    body{
        font-size: 3rem;
    }
   
    .main-container{

       padding-top: 5%;

       padding-left:5%;
       
         
       }
.main-sidebar{
    width:50%;

    padding-right: 0%;
    position:sticky;
    top:0;
    margin-left:5%;
    margin-top:20%;
    overflow-y:hidden;
}
.iframe-container{
margin-top:-30%;

}
.iframe{
    width:230%;
    height: 300%;
}

}