@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,300;0,400;1,200&display=swap');
@import "animations.css";
/* head{

} */



html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y:hidden;
    scroll-behavior: smooth;
}

body{
   
    font-family: 'Spectral', serif;
    /* line-height: 1.8; */
    /* background-color:rgba(66, 46, 20, 0.226); */
background-image:#eabdff;background-image:  
   radial-gradient(at 53% 50%, hsla(0,0%,100%,1) 0, transparent 50%),  
   radial-gradient(at 22% 78%, hsla(239,100%,89%,1) 0, transparent 50%),  
   radial-gradient(at 0% 50%, hsla(355,85%,93%,1) 0, transparent 50%),  
   radial-gradient(at 56% 84%, hsla(340,69%,80%,1) 0, transparent 50%),  
   radial-gradient(at 0% 100%, hsla(243,100%,95%,1) 0, transparent 50%),  
   radial-gradient(at 89% 13%, hsla(209,56%,85%,1) 0, transparent 50%),  
   radial-gradient(at 30% 37%, hsla(343,100%,81%,1) 0, transparent 50%);

    /* animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
    /* animation: enteranceAnimation ease out 2.5s; */
    -webkit-animation: fade-in-bottom 2.6s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
	        animation: fade-in-bottom 2.6s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes enteranceAnimation{
    0% {
        filter: blur(90px); 

    }
    100% {
       
       
     }
}
ul.type-of-work.a{
    padding:0%;
    margin:0%;
    
    


}
.type-of-work {
  font-weight: 200;  
}

ol,
ul {
  display: grid;
  list-style: none;
 
  /* adjust the `min` value to your context */
  /* grid-template-rows: repeat(auto-fill, minmax(1ch, 1fr)); */
  grid-gap: 0rem;

}
h2{
    margin:0%;
    font-weight: 400;
}
.type-of-work h2{
   
padding-top:2%;
color:rgb(34, 34, 34);
/* padding-bottom:5%; */
}

li a {
    font-size:medium;
    color:rgb(56, 97, 60);
    
}
li a:hover{
    color:rgb(188, 146, 255);
    font-weight:200;
font-style: italic;
  
}


li a:active{
    color:rgb(255, 255, 255);
    font-weight: 100;

}
.company{
    padding-top:2%;
    padding-bottom: 1%;
   
    font-weight: 500;

    
}


.tasks{
    color:rgba(15, 15, 17, 0.788);
    text-shadow: 2px 2px 2px rgba(0, 255, 0, 0.185);
    backdrop-filter:blur(5px);
   
    /* backdrop-filter:drop-shadow(16px 16px 10px black); */
    font-weight: lighter;
    font-size: medium;
    
    padding-top:5%;
    padding-bottom:5%;
    margin-right:5%;
 border-radius: 5mm;
 
  
}

.tasks:hover{
   
    color:rgb(41, 39, 39);
    border-radius:5%;
}

a{
text-decoration: none;
/* padding-top:2%; */
margin:0%;
padding:0%;

/* line-height: 5%; */
/* list-style-image: url('blob.png'); */

}

.iframe-container{
    position:absolute;
    z-index:-20;
  
    /* margin-left:-2%; */
    /* margin-top:-50%; */
    /* margin-bottom:0%; */
    padding:0%;
    border:0%;
    width:100vw; 
    height:100vh;
    border:hidden;



   
}
iframe{
   z-index: -20;
     
    position: absolute;
    border: hidden;
    overflow:hidden;
    min-width: 100vw;
     min-height: 100vh;
     
     -webkit-animation: fade-in-bottom 2.6s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
	        animation: fade-in-bottom 2.6s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
   animation-delay: 0.6s;
   
}
.container{
    /* backdrop-filter: blur(2px); */
    /* position: absolute; */
    display:flex;
   
    margin: 2%;
    /* padding:5%; */
    
    height:100%;
   
}
.main-sidebar{
    
    flex-basis:60%;
  padding-top:10%;
  padding-left:2%;
  padding-right:2%;
  /* padding-bottom: 12%; */
  margin-top:5%;
  margin-bottom:10%;
 color:rgba(49, 45, 45, 0.884);
 line-height: 2;
backdrop-filter: blur(5px);
border-radius: 5mm;
    text-overflow: ellipsis;
    font-size: 2vh;
    overflow-wrap: normal;
    text-shadow: 2px 2px 2px rgb(255, 252, 210);
box-shadow: 0.03px 0.03px 1px 0.04px;
align-self: stretch;
/* overflow:hidden; */

}

.skills{

    display:flex;
    flex-direction: row;
    padding-left:0%;
margin-right:10%;

}
.skillbox{
   /* margin-right:5%; */
   padding-right:10%;
   padding-left:1%;
margin:2%;
   
}
.skill{ 
  margin-top:0%;
  font-size:1rem;
 align-self:center;
}
.circles{
    display:flex;
    flex-direction: row;
    align-content: flex-start;
   padding:0%;
    margin-left:px;
}
.fcircle{
height: 10px;
width: 10px;
background-color:rgb(75, 67, 67);
border-radius: 50%;   
display: inline-block;
padding:0%;
margin:0%;
}

.mcircle{
    height: 10px;
    width: 10px;
    background-color:rgba(75, 67, 67, 0.726);
    border-radius: 50%;   
    display: inline-block;
    padding:0%;
    margin:0%;
    }  

.ecircle{
   
     height: 10px;
     width: 10px;
     background-color:rgba(75, 67, 67, 0.315);
     border-radius: 50%;   
     display: inline-block;
     padding:0%;
margin:0%;
    
}
.star{
    position:absolute;
    font-size: small; 
    font-weight: 900;
    color: rgb(255, 255, 255);
    
    text-shadow:20px 20px 2px rgb(241, 255, 178);
    -webkit-animation: tracking-out-expand 9.8s ease-in-out infinite alternate both;
    animation: tracking-out-expand 9.8s ease-in-out infinite alternate both;
}


.fun{
    font-weight: 700;
    font-style: italic;
   
}
.main-container{
  
flex-basis: 100%;
    margin:5%;
   margin-right:2%;
   margin-bottom:10%;
flex-direction: column;
flex-grow: 1;
overflow-x:hidden;
overflow-y:auto;
box-shadow: 0.03px 0.03px 1px 0.04px;
/* background-color: rgba(255, 255, 255, 0.267); */

 border-radius: 5mm;

-webkit-box-shadow:0.03px 0.03px 1px 0.04px;;
-moz-box-shadow:   0.03px 0.03px 1px 0.04px;;
box-shadow:        0.03px 0.03px 1px 0.04px;;
backdrop-filter: blur(5px);
backdrop-filter: brightness(2); 


  
}

/* .main-container::-webkit-scrollbar{
   scrollbar-width: none;
    background-image: linear-gradient(180deg, rgba(255, 202, 231, 0.322) 0%, rgba(217, 255, 210, 0.651) 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 0px; 
} */
.main-container::-webkit-scrollbar {
    width: 5px;
    height:50px;
}

.main-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(209, 255, 179);
    border-radius: 100px;
    height:10px;

}

.main-container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 7px rgba(17, 0, 255, 0.5);
   /* height:5px; */
    border-radius: 100px;
}
.main-container::-webkit-scrollbar-button {
    box-shadow: inset 0 0 7px rgba(17, 0, 255, 0.5);
   height:5px;
    border-radius: 100px;
}
.hidden{
    display:none !important;
}

/* .projDisplay{ */
    /* display:flex */
    
/* } */




/* .main-content{
    margin: 2%;
    flex: 1;
   
} */

@media (max-width: 700px) {
 
    html,body{
      overflow-y: auto;
    }
   .container{
      
       display:flex;
       flex-direction: column;
     border-radius: 20%;
align-items: flex-end;

   }
   .main-sidebar {
   
    font-size: normal;
    
  flex-shrink:1;
padding-top:2%;

  
    line-height:1.2;
    /* -webkit-animation: blur-out-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: blur-out-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
     */
}

    .main-container{
     /* background-color: rgba(255, 255, 255, 0.322); */
     margin-top: 0%;
     margin-left:0%;
     margin-right:0%;
     /* margin-bottom:20%; */
     box-shadow: none;
        height:100%;
        flex-grow: 0;
        padding-top:0%;
        padding-left:5%;
        padding-right:5%;
        padding-bottom:5%;
       position:relative;
        
       flex-grow:5;
   /* overflow-y: auto;  */
        font-size: medium;
    }
    .type-of-work{
        margin:0%;
        padding:0%;
        margin-bottom:5%;
        padding-bottom:5%
    }
   
   
    h2{
        padding:0%;
        margin:0;
    }

.iframe-container{
    overflow: hidden;
    max-width: 98%;
    opacity: 0.6;
    position:absolute;
    z-index: -30;
    
 

}
iframe{
    overflow: hidden;
    position:absolute;
  

}

  }

  @media (min-width:705) and (max-width :1000px)  {
    .main-sidebar{

       
       
    }
    .main-container{
     
        
        padding-left: 0%;
       
    
     
        font-size: large;
    }

  }

@media (min-width:1001) and (max-width :2000px)  {
    body{
        /* font-size: 5rem; */
    }
   
    .main-container{

       
       padding-left:5%;
       
         
       }
.main-sidebar{
    
    padding-right: 0%;
    /* position:sticky; */
    top:0;
    margin-top:20%;
    /* overflow-y:hidden; */
}
}


@media (min-width :2000px)  {
    body{
        font-size: 2rem;
    }
   
    .main-container{

       padding-top: 5%;

       padding-left:5%;
       padding-bottom: 5%;;
       
         
       }
.main-sidebar{
    /* width:90%; */
min-width:30%;
font-size:3rem;
    padding-right: 0%;
    /* position:sticky; */

    top:0;
    margin-left:5%;
    /* margin-top:10%;  */
    overflow-y:hidden;
}
.iframe-container{
/* margin-top:-30%; */

}
.iframe{
    /* width:230%; */
    /* height: 300%; */
}

}